@model GroupPay.Controllers.HomeController.RegisterPageData
@{
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>欢迎注册淘金宝，我们将为您提供最好的服务！</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<body class="text-center">
    <div id="target"></div>
    <script type="text/template" id="template">
        <form class="form-signin">
            <h4 class="h4 mb-1">欢迎注册淘金宝</h4>
            <input type="text" name="accountName" id="inputAccountName" value="{{accountName}}" class="form-control" placeholder="手机号" required autofocus>
            <input type="text" name="wechatAccount" id="inputWechatAccount" value="{{wechatAccount}}" class="form-control" placeholder="微信号" required autofocus>
            <input type="text" name="nickName" id="inputNickName" value="{{nickName}}" class="form-control" placeholder="昵称" required autofocus>
            <input type="password" name="password" id="inputPassword" value="{{password}}" class="form-control mb-0" placeholder="密码" required>
            <input type="password" name="password1" id="inputPassword1" value="{{password1}}" class="form-control mb-0" placeholder="确认密码" required>
            <div class="row p-0 mb-3">
                <div class="col-sm">
                    <label for="inputEmail" class="sr-only">验证码</label>
                    <input type="text" id="inputCaptcha" autocomplete="off" value="{{captcha}}" name="captcha" class="form-control" placeholder="验证码" required autofocus>
                </div>
                <div class="col-sm pt-1">
                    <img src="/Home/CaptchaImage" id="inputCaptchaImg" on-click="refreshCaptcha" style="height:40px" class="rounded" />
                </div>
            </div>
            <button class="btn btn-lg btn-dark btn-block" disabled="{{requestProcessing}}" type="button" on-click="register">注册</button>
            <button class="btn btn-lg btn-dark btn-block" type="button" on-click="showAppDownLoad">点击下载</button>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="registerFailedModal" tabindex="-1" role="dialog" aria-labelledby="registerFailedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerFailedModalLabel">注册失败</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-danger">{{errorMsg}}</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registerSucceededModal" tabindex="-1" role="dialog" aria-labelledby="registerSucceededModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerSucceededModalLabel">注册成功！</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="h6 font-weight-normal">恭喜您，注册成功，请<a class="text-primary" href="@Model.AppDownloadUrl">下载</a>App开始赚钱!</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location='@Model.AppDownloadUrl'">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DownLoadModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerSucceededModalLabel">扫码下载！</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="h6 font-weight-normal">请扫码或是点击确定下载App，开始赚钱!</h6>
                        <div id="AppDownloadQRCode"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location='@Model.AppDownloadUrl'">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/ractive/ractive.js"></script>
        <script src="~/lib/jquery.qrcode/jquery.qrcode.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ractive/1.3.0/ractive.min.js"
                asp-fallback-src="~/lib/ractive/ractive.js"
                asp-fallback-test="window.Ractive"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"
                asp-fallback-src="~/lib/jquery.qrcode/jquery.qrcode.min.js"
                crossorigin="anonymous">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tool.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initRegisterPage('@Model.Token', '@Model.Referrer');
            $("#AppDownloadQRCode").qrcode("@Model.AppDownloadUrl");
        });

    </script>
</body>
</html>

